<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/style.css">
    
  <title>Text Encryption</title>
</head>
<body>

  <header id="main-header" class="container">
    <h1><span>Encrypt</span> Some Text</h1>

    <div class="break-line"></div>

    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/help">Help</a></li>
    </nav>
  </header>

  <section id="main-section" class="container">
    <form action="/" method="POST">
      <textarea class="text" placeholder="Your Text Goes Here" name="text" required></textarea>
      <button class="btn margin-right-small encButton" name="encrypt" value="true">Encrypt</button>
      <button class="btn margin-right-medium decButton" name="decrypt" value="true">Decrypt</button>
      <label>Key: </label>
      <input type="number" name="key" required>
      <textarea class="result" placeholder="Result" readonly="true">{{result}}</textarea>
    </form>
  </section>
  
  <footer id="main-footer" class="container">
    <h2>Created by <span>Mehdi Eidi</span></h2>
  </footer>
</body>
</html>