<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/style.css">
    
  <title>Text Encryption</title>
</head>
<body>

  <header id="main-header" class="container">
    <h1><span>Encrypt</span> Some Text</h1>

    <div class="break-line"></div>

    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/help">Help</a></li>
    </nav>
  </header>
  
</body>
</html>